body {
  font: 13px/1.5 sans-serif;
  margin: 0.3em 0;
}
a, a:active, a:focus {
  unicode-bidi: embed;
  white-space: nowrap;
  outline: 0;
  color: #0645AD;
  text-decoration: none
}
a:hover {
  text-decoration: underline
}
img {
  border: none;
  vertical-align: middle
}
div {
  display: block;
}
p {
  display: block;
  margin: 0.3em 0;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
.top-text-box {
  width: 70%;
  font-size: 150%;
  margin: 0 auto;
  padding: .5em 1em;
  text-align: justify;
  display: block;
  vertical-align: top;
}
#wikimedia-bold {
  font-weight: bold;
}
#welcome-text {
  text-align: right;
  font-weight: bold;
}
.projects {
  font-weight: bold;
  margin: 1.5em auto;
  text-align: left;
  vertical-align: middle;
  width: 90%;
}
.project-item {
  float: left;
  height: 175px;
  min-width: 12em;
  width: 24.75%;
  line-height: 175px;
}
.project-item a {
  display: block;
  width: 10em;
  margin: 0 auto
}
#footer {
  clear: both;
  text-align: center;
  width: 70%;
  margin: 10px auto;
  border-top: .5px solid #aaa;
}
.nowrap {
  white-space: nowrap;
}
#footer ul, #footer ul li {
  display: inline;
  margin: 0 10px;
  padding: 0;
}
